# Data preparation #2

## Imports

In [1]:
import os
import pandas as pd

## Constants

In [2]:
DATA_DIR = 'data/'
CSV_FILE = os.path.join(DATA_DIR, 'nih_chest_xray_single_9c.csv')
BB_CSV_FILE = os.path.join(DATA_DIR, 'BBox_List_2017.csv')

## Download the prepared CSV

In [3]:
os.makedirs(DATA_DIR, exist_ok=True)

if not os.path.exists(CSV_FILE):
    ! gdown --id 1gJJ5ZRfRicuxIoBWLYAUnfUs4yhJ97sX -O $CSV_FILE
else:
    print('File exists: {}'.format(CSV_FILE))

if not os.path.exists(BB_CSV_FILE):
    ! gdown --id 12fA_VUjnt-tyo1d0M2htyQ5w3-nIAVH_ -O $BB_CSV_FILE
else:
    print('File exists: {}'.format(BB_CSV_FILE))

Downloading...
From: https://drive.google.com/uc?id=1gJJ5ZRfRicuxIoBWLYAUnfUs4yhJ97sX
To: /content/data/nih_chest_xray_single_9c.csv
2.68MB [00:00, 84.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=12fA_VUjnt-tyo1d0M2htyQ5w3-nIAVH_
To: /content/data/BBox_List_2017.csv
100% 92.4k/92.4k [00:00<00:00, 71.6MB/s]

## Explore the dataset

Tasks:

1. Show `df`'s and `df_bb`'s statistics

In [4]:
df = pd.read_csv(CSV_FILE)
df_bb = pd.read_csv(BB_CSV_FILE)

In [ ]:
## Show `df`s statistics
df.head()
df.describe()

          Unnamed: 0   Follow-up #  ...  OriginalImagePixelSpacing[x            y]
count   36531.000000  36531.000000  ...                 36531.000000  36531.000000
mean    57175.990118      8.967096  ...                     0.155192      0.155192
std     32468.713125     15.509073  ...                     0.016254      0.016254
min         0.000000      0.000000  ...                     0.115000      0.115000
25%     28889.500000      0.000000  ...                     0.143000      0.143000
50%     57673.000000      3.000000  ...                     0.143000      0.143000
75%     85507.500000     10.000000  ...                     0.168000      0.168000
max    112114.000000    173.000000  ...                     0.198800      0.198800

[8 rows x 8 columns]

In [ ]:
##
pd.Series(['a', 'a', 'b', 'c']).describe() # describe also works on non-numerical data

count     4
unique    3
top       a
freq      2
dtype: object

In [ ]:
## Show `df_bb`s statistics
df_bb.head()
df_bb.describe()

          Bbox [x           y           w  ...  Unnamed: 6  Unnamed: 7  Unnamed: 8
count  984.000000  984.000000  984.000000  ...         0.0         0.0         0.0
mean   398.806111  405.425364  256.334708  ...         NaN         NaN         NaN
std    222.700868  166.309995  167.629620  ...         NaN         NaN         NaN
min      5.417989   12.837934   27.306667  ...         NaN         NaN         NaN
25%    203.093333  293.869045  136.533333  ...         NaN         NaN         NaN
50%    340.249735  412.850794  214.340942  ...         NaN         NaN         NaN
75%    607.959365  521.641995  311.832381  ...         NaN         NaN         NaN
max    905.887831  876.980783  901.120000  ...         NaN         NaN         NaN

[8 rows x 7 columns]

## Cleanup

Tasks:

1. Delete unused columns ('Unnamed: 0', 'Follow-up #', 'Patient ID', 'View Position', 'OriginalImage[Width', 'Height]', 'OriginalImagePixelSpacing[x', 'y]'). Resulting `df` should have 4 columns left.
1. Remove redundant columns from `df_bb`
1. Rename `Bbox [x`	`y`	`w`	`h]` columns to `bb_x`, `bb_y`, `bb_w`, `bb_h` in `df_bb`

In [ ]:
## Delete unused columns ('Unnamed: 0', 'Follow-up #', 'Patient ID',
## 'View Position', 'OriginalImage[Width', 'Height]', 'OriginalImagePixelSpacing[x', 'y]').
## Resulting `df` should have 4 columns left.

df.drop(
    ['Unnamed: 0', 'Follow-up #', 'Patient ID', 'View Position', 
     'OriginalImage[Width', 'Height]', 'OriginalImagePixelSpacing[x', 'y]'],
    axis=1,
)

df = df.drop(['Unnamed: 0', 'Follow-up #', 'Patient ID', 'View Position', 
              'OriginalImage[Width', 'Height]', 'OriginalImagePixelSpacing[x', 'y]'],
             axis=1)
# can be done with inplace=True, but we won't be able to preview the result
df.head()

        Image Index Finding Labels  Patient Age Patient Gender
0  00000001_000.png   Cardiomegaly           57              M
1  00000005_003.png     No Finding           69              F
2  00000005_006.png   Infiltration           70              F
3  00000008_000.png   Cardiomegaly           68              F
4  00000008_002.png         Nodule           72              F

In [ ]:
## Remove redundant columns from `df_bb`
df_bb.head()
df_bb.columns[-3:] # print

df_bb = df_bb.drop(df_bb.columns[-3:], axis=1)
df_bb.drop('Finding Label', axis=1, inplace=True)
df_bb.head()

        Image Index     Bbox [x           y           w          h]
0  00013118_008.png  225.084746  547.019217   86.779661   79.186441
1  00014716_007.png  686.101695  131.543498  185.491525  313.491525
2  00029817_009.png  221.830508  317.053115  155.118644  216.949153
3  00014687_001.png  726.237288  494.951420  141.016949   55.322034
4  00017877_001.png  660.067797  569.780787  200.677966   78.101695

In [ ]:
## Rename `Bbox [x`	`y`	`w`	`h]` columns to `bb_x`, `bb_y`, `bb_w`, `bb_h` in `df_bb`
df_bb = df_bb.rename(columns={"Bbox [x": "bb_x", "y": "bb_y", "w": "bb_w", "h]": "bb_h"})
df_bb.head()

        Image Index        bb_x        bb_y        bb_w        bb_h
0  00013118_008.png  225.084746  547.019217   86.779661   79.186441
1  00014716_007.png  686.101695  131.543498  185.491525  313.491525
2  00029817_009.png  221.830508  317.053115  155.118644  216.949153
3  00014687_001.png  726.237288  494.951420  141.016949   55.322034
4  00017877_001.png  660.067797  569.780787  200.677966   78.101695

## Merge both data frames

Tasks:

1. Merge both dataframes

In [ ]:
## Merge both dataframes
df.merge(df_bb, how='left', on='Image Index') # print

df = df.merge(df_bb, how='left', on='Image Index')
df

            Image Index Finding Labels  Patient Age  ... bb_y  bb_w  bb_h
0      00000001_000.png   Cardiomegaly           57  ...  NaN   NaN   NaN
1      00000005_003.png     No Finding           69  ...  NaN   NaN   NaN
2      00000005_006.png   Infiltration           70  ...  NaN   NaN   NaN
3      00000008_000.png   Cardiomegaly           68  ...  NaN   NaN   NaN
4      00000008_002.png         Nodule           72  ...  NaN   NaN   NaN
...                 ...            ...          ...  ...  ...   ...   ...
36526  00030789_000.png   Infiltration           51  ...  NaN   NaN   NaN
36527  00030798_000.png     No Finding           29  ...  NaN   NaN   NaN
36528  00030799_000.png     No Finding           32  ...  NaN   NaN   NaN
36529  00030800_000.png     No Finding           33  ...  NaN   NaN   NaN
36530  00030801_000.png     No Finding           38  ...  NaN   NaN   NaN

[36531 rows x 8 columns]

In [ ]:
##
df.describe() # look at max values, it's not right - we rescaled the images from 1024px to 256px in part 1

        Patient Age        bb_x        bb_y        bb_w        bb_h
count  36531.000000  256.000000  256.000000  256.000000  256.000000
mean      46.894145  406.302674  415.182941  257.889035  237.403888
std       16.521977  214.953882  171.716414  168.555209  157.242570
min        0.000000   38.115556   47.678307   28.173545   29.582222
25%       35.000000  232.899650  301.511111  116.037091   99.840000
50%       49.000000  343.469379  428.021164  213.062434  201.495026
75%       59.000000  608.352169  538.819048  398.915254  358.129101
max       93.000000  905.887831  876.980783  771.413333  873.379894

In [ ]:
## Rescale bounding box coordinates
df.apply(lambda row: row[['bb_x', 'bb_y', 'bb_w', 'bb_h']]//4, axis=1)

df[['bb_x', 'bb_y', 'bb_w', 'bb_h']] = df.apply(lambda row: row[['bb_x', 'bb_y', 'bb_w', 'bb_h']]//4, axis=1)

In [ ]:
df.describe()

        Patient Age        bb_x        bb_y        bb_w        bb_h
count  36531.000000  256.000000  256.000000  256.000000  256.000000
mean      46.894145  101.093750  103.292969   63.945312   58.839844
std       16.521977   53.745141   42.943603   42.175322   39.305163
min        0.000000    9.000000   11.000000    7.000000    7.000000
25%       35.000000   58.000000   74.750000   28.750000   24.750000
50%       49.000000   85.000000  107.000000   52.500000   50.000000
75%       59.000000  152.000000  134.000000   99.250000   89.000000
max       93.000000  226.000000  219.000000  192.000000  218.000000

## Encode categories

Tasks:

1. Add one-hot encoded labels to `df`

In [5]:
## Add one-hot encoded labels to `df`
df['Finding Labels'].unique()

pd.get_dummies(df['Finding Labels'])

onehot = pd.get_dummies(df['Finding Labels'])
onehot.head()

onehot.drop_duplicates()  ## to show a single vector per encoded category

    Atelectasis  Cardiomegaly  Effusion  ...  Nodule  Pneumonia  Pneumothorax
0             0             1         0  ...       0          0             0
1             0             0         0  ...       0          0             0
2             0             0         0  ...       0          0             0
4             0             0         0  ...       1          0             0
6             0             0         1  ...       0          0             0
8             1             0         0  ...       0          0             0
10            0             0         0  ...       0          0             0
11            0             0         0  ...       0          0             1
83            0             0         0  ...       0          1             0

[9 rows x 9 columns]

In [ ]:
## combine `onehot` with `df` data frame
pd.concat([df, onehot], axis=1)
df = pd.concat([df, onehot], axis=1)

In [ ]:
## 
df.head()

        Image Index Finding Labels  ...  Pneumonia Pneumothorax
0  00000001_000.png   Cardiomegaly  ...          0            0
1  00000005_003.png     No Finding  ...          0            0
2  00000005_006.png   Infiltration  ...          0            0
3  00000008_000.png   Cardiomegaly  ...          0            0
4  00000008_002.png         Nodule  ...          0            0

[5 rows x 17 columns]

## Add column with file paths

Tasks:

1. Add column with file path (data/images/IMAGE_INDEX)

In [ ]:
## Add column with file path (data/images/IMAGE_INDEX)

df.apply(lambda row: 'data/images/{}'.format(row['Image Index']), axis=1)

df['File Path'] = df.apply(lambda row: 'data/images/{}'.format(row['Image Index']), axis=1)

In [ ]:
##

df.head()

        Image Index Finding Labels  ...  Pneumothorax                     File Path
0  00000001_000.png   Cardiomegaly  ...             0  data/images/00000001_000.png
1  00000005_003.png     No Finding  ...             0  data/images/00000005_003.png
2  00000005_006.png   Infiltration  ...             0  data/images/00000005_006.png
3  00000008_000.png   Cardiomegaly  ...             0  data/images/00000008_000.png
4  00000008_002.png         Nodule  ...             0  data/images/00000008_002.png

[5 rows x 18 columns]

## Save results

In [ ]:
df.to_csv(os.path.join(DATA_DIR, 'nih_chest_xray_single_9c_bb_onehot.csv'), index=False)